:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
.info-box {
  box-shadow: 5px 5px 10px #888888;
  background-color: #d1e7dd;
}

.info-box .text-info {
  color: #0f0f0f;
}
