:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

::ng-deep .example-full-width {
  width: 100%;
}
::ng-deep .dx-header-row{
  color: black !important;
  background-color: lightgray;
  font-weight: bold !important;
}

::ng-deep .dx-item-content{
  margin-bottom: .75rem  !important;
}
::ng-deep .dx-item-content .dx-datagrid-export-button{
  margin-bottom: .75rem  !important;
}
::ng-deep .dx-item-content .dx-datagrid-search-panel{
  margin-bottom: 1.50rem  !important;
}
