<div class="form-wrapper">
  <div class="text-center mb-11">
    <ng-container class="px-5">
      <img alt="Logo" src="./assets/media/logos/logo.png" class="h-60px app-sidebar-logo-default" />
    </ng-container>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Yeni Şifre</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" id="newPassword" name="newPassword" placeholder="Yeni Şifre" [(ngModel)]="newPassword" required>
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          <i *ngIf="hideNewPassword" class="fa fa-eye-slash"></i>
          <i *ngIf="!hideNewPassword" class="fa fa-eye"></i>
        </mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Yeni Şifre Tekrar</mat-label>
        <input matInput [type]="hideNewPasswordRepeat ? 'password' : 'text'" id="newPasswordRepeat" name="newPasswordRepeat" placeholder="Yeni Şifre Tekrar" [(ngModel)]="newPasswordRepeat" required>
        <mat-icon matSuffix (click)="hideNewPasswordRepeat = !hideNewPasswordRepeat">
          <i *ngIf="hideNewPasswordRepeat" class="fa fa-eye-slash"></i>
          <i *ngIf="!hideNewPasswordRepeat" class="fa fa-eye"></i>
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
  </form>
</div>
